*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#0f1117;
    color:white;
}

/* LOGIN */

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    background:#1a1d26;
    padding:35px;
    width:350px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.login-box h1{
    margin-bottom:10px;
    color:#6aa8ff;
}

.login-box h3{
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:8px 0;
    background:#2a2e39;
    border:none;
    color:white;
    border-radius:8px;
}

.login-box button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#5865f2;
    border:none;
    color:white;
    font-weight:bold;
    border-radius:8px;
    cursor:pointer;
}

.login-box button:hover{
    background:#4752c4;
}

#error{
    margin-top:10px;
    color:#ff5555;
}

.hidden{
    display:none;
}

/* DASHBOARD */

header{
    background:#1a1d26;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #2d313d;
}

.logout{
    background:#ff4d4d;
    border:none;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.container{
    display:flex;
    gap:20px;
    padding:20px;
}

/* ROLES */

.roles{
    width:300px;
    background:#1a1d26;
    border-radius:12px;
    padding:20px;
}

.roles h2{
    margin-bottom:15px;
}

.role{
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
    font-weight:bold;
}

.owner{
    background:#24354d;
    border-left:5px solid #6aa8ff;
}

.coowner{
    background:#401818;
    border-left:5px solid red;
}

.admin{
    background:#2b2b2b;
    border-left:5px solid gray;
}

.role-card{
    background:#242834;
    padding:15px;
    margin-top:10px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.role-card:hover{
    background:#2e3442;
}

/* TABLE */

.table-section{
    flex:1;
    background:#1a1d26;
    border-radius:12px;
    padding:20px;
}

.table-section h2{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#2a2e39;
    padding:14px;
    text-align:left;
}

td{
    padding:14px;
    border-bottom:1px solid #2f3442;
}

tr:hover{
    background:#222734;
}

.active{
    color:#43d17d;
    font-weight:bold;
}
